<!DOCTYPE html>
<html lang="en">
  <head>
 
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>
      <% if(loginState){ %> <%= email %> <% }else{ %>GIBOO&TAKE <% } %>
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/cart.css">
    <!-- <link rel="stylesheet" href="css/modal.css"> -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/my.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <% include header %>
    <!--================ End Header Menu Area =================-->
    <!-- Login Button -->
    <% include modal %>

    <!--================ Home Banner Area =================-->
    <main>
      <section class="home_banner_area">
        <div class="banner_inner">
          <div class="container">
            <div class="banner_content">
              <p class="upper_text"></p>
              <h2>Product cart</h2>
              <p>
                장바구니
              </p>
            </div>
          </div>
        </div>
      </section>

      <!--================ End icon Area =================-->
  <div class="roberto-news-area section-padding-100-0">
    <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
      <div class="single-widget-area mb-100" style="margin-top:100px">
        <h3 style="background-color:#60bc0f;color:white; padding: 10px;text-align: center">장바구니</h3>
       
        <% for (let i=0; i < results.length; i++) { %>
          <div class="box">  
          <div class="box1">
          
              <img
                src="upload/<%= results[i].item_img %>"
                alt="이미지 업로드 실패"
                width="250"
                height="200"
              />
          
            </div>
           <div class="box2"> 
           <span>상품명:<%= results[i].item_title %></span><br>
         
           <span>목표기부금액:<%= results[i].item_price %></span><br>
          
           <span>재단코드:<%= results[i].foundation_no %></span><br>
         
           <span>기부금액:<%= results[i].donation %></span>
          </div>
        </div>
          <hr>
          <% } %>
       
     

      </div>
      </div>
      </div>
      </div>
      </div>
    
    </main>
  <% include footer %>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/countdown.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
